.card {
  width: 500px;
  height: 400px;
  background-color: rgb(68, 67, 67);
  border: 2px solid rgb(151, 4, 4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.card .title {
  font-size: 40px;
  border-bottom: 3px solid rgb(172, 9, 9);
  width: fit-content;
}

.card .no-items {
  font-size: 20px;
  font-weight: bold;
}

.card .list {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
}

.card .list .list-item {
  list-style: none;
  font-size: 23px;
  padding: 10px 0;
}

.card .list .list-item:not(:last-child) {
  border-bottom: 1px solid red;
}

.card .inp-btn {
  width: 100%;
  display: flex;
  gap: 10px;
}

.card .inp-btn input {
  flex: 1;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 7px;
}

.card .inp-btn button {
  color: black;
  font-size: 20px;
  background-color: rgb(172, 9, 9);
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.card .inp-btn button:hover {
  background-color: rgb(119, 6, 6);
}
